
body{
    background-color: rgb(219, 223, 226);
    
padding: 0em;
}






/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 3px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgb(252, 251, 249); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #222121;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(158, 152, 152);
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: rgb(19, 18, 18);
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 9px;}
    .sidebar a {font-size: 18px;}




    .openbtn{
        width: 100%;
        height: auto;
        position:relative;
    }

     a{
        float: right;
        display: flex;
        visibility: visible;
    }

    div.content{
        margin-left: 0;
    }
  }




.navbar{
    background: #d4d4d2;
    color: white;
}

.navbar-brand{
    color: white;
    font-weight: bolder;
    
}



.overlay{
    background:rgb(253, 253, 252) url("../images/bg.jpg");
    background-repeat: repeat-y;
    color: white;
    text-align: left;
    padding-bottom: 3em;
    height: 100%;
    width: 100%;
}


.description{

    
    margin: auto;
    padding: 4em 2em ;
}




.description, h1{
    color: #f97300;
}


.description p{
    color:white ;
    font-size: 20px;
    margin-top: 1em;
    width: 50%;
    line-height: 1.5;

}



.description button{
    border: 1px solid #f97300;
    color: #fff;
}


h1{
    animation-duration: 2s;
    animation-name: slidein;
}


@keyframes slidein {
    from {
        margin-left: 100%;
        width: 100%;
    }
    to{
        margin-left: 0%;
        width: 100%;
    }
}


/*About me*/

.about{
    margin: 8em 0;
    padding: 1em;
    position: relative;
    display: inline-block;
    padding-bottom: 5em;
    
}

.container{
    margin: 1em;
    
}

.about h1{
    color: #f97300;
    margin: 1em;
    text-align: center;

}

.about img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.about span{
    display: block;
    color: #888;
    position: absolute;
    padding-top: .5em;
    padding-left: 4em;
    margin-top: 1em;
}

.about .avatar{
    float: left;
    padding-right: 4rem;
}


.about .desc{
    margin-top: 2em;
    padding: 2em;
    border-left: 3px solid #10828c;
    float: right;
    padding-left: 4em;
}


.about .desc h3{
    color: #10828c;
}

.about .desc p{
    line-height: 2;
    color: #888;
}



/*Portfolio*/

.portfolio{
    margin: 3em 0;
    position: relative;
   
    padding-right: 2em;
    background-color: white;
}


.portfolio h1{
    color: #f97300;
    margin: 1em;
}

.portfolio img{
    height: 15rem;
    width: 100%;
    
}


/* Blog */

.blog{
    margin: 4em 0;
    position: relative;
    padding-right: 2em;
    padding-bottom: 2em;
    background-color: white;
}

.team .container{
    margin: 0;
    padding-right: 2em;
}


.blog h1{
    color: #f97300;
    margin: 2em;
}


.container{
  padding: 2px 16px;
}

.blog .card{
    box-shadow: 0 0 20px #ccc;
}


.blog .card-img-top{

    
}


.blog .card-title{
    color: #f97300;
}


.blog .card-body{
    padding: 1em;
}

.card-link{
    text-decoration: none;
}



/*Team*/


.team {
    margin: 4em 0;
    position: relative;
    display: flex;
    padding-right: 2em;
    background-color: white;

}


.team h1{
    color: #f97300;
    margin: 2em;
}



.team .item{
    position: relative;
}


.team .desc{

    background: #f97300;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 93%;
    transition: .3s ease-in-out;
}



 .team .item:hover .desc{
    height: 100%;
    background: #f973007d;
    position: absolute;
    width: 100%;
    padding: 5em;
    top: 0;
    border-bottom-left-radius: 0;
}




/* contact */

.contact-form{
    margin: 6em 0em;
    position: relative;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: white;
    

}

.contact-form h1{
    padding: 2em 1px;
    color: #f97300;
}


.contact-form .right{
    max-width: 600px; 
}


.name{
    margin-bottom: 1em;
}

.email{
    margin-bottom: 1em;
}

.right{
 padding-top: 1em;

}


.contact-form .right .btn-secondary{
    background: #f97300;
    color: #fff;
    border: 0;
    width: 100%;
    margin-top:1em;

}


.contact-form .right .form-control::placeholder{
    color: #888;
    font-size: 16px;
    padding-top: 2em;
}




.footer{
    background: #303036;
    color: #d3d3d3;
    height: 50%;
    position: absolute;
    width: 100%;
    padding-left: 2em;
    padding-right: 3em;
    margin: 3em 3em 0 0;



}

.footer-details{
text-align: center;
font-size: .9rem;

}





.footer .footer-bottom{
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 5px;
   


}





/*Media Query*/

@media(min-width: 930px){
    .contact-form .right .btn-secondary{
        background: #f97300;
        color: #fff;
        border: 0;
        width: 50%;
        margin-top:1em;
        margin: 1em 4em 2em 9em;
    
    }


    .portfolio img{
        height: 15rem;
        width: 100%;
        margin: 1em;
    }

    
    
}